

NET "CLK_SEL" LOC = E35;
NET "CLK_SEL_127M" LOC = B37;
NET "CLK_SEL_254M" LOC = A37;

NET "TX_ser_bnak<0>[0]" LOC = AN42;
#NET "TX_ser_bnak<0>[1]" LOC = AM44;
#NET "TX_ser_bnak<0>[2]" LOC = AL42;
#NET "TX_ser_bnak<0>[3]" LOC = AK44;
#NET "clock_test_out" LOC = N31;
NET "XCVR_Ref_Clock_in" LOC = AU37;




INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<0>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<1>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<3>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<5>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<2>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<4>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<5>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<8>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<8>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<0>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<6>_xo<0>2" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<6>_xo<0>2" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<9>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<7>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<9>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<7>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<6>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<1>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<3>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/compls621" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<2>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<4>_xo<0>1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<6>_xo<0>12" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/Mxor_dataout<6>_xo<0>11" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/Mxor_dataout<6>_xo<0>1_SW0" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/pdos61" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/compls621" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_0/compls41" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/encoder_1/pdos61" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_1_0" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_1_1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_1_2" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_1_3" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_1_4" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_1_5" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_1_6" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_1_7" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_0_0" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_0_1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_0_2" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_0_3" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_0_4" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_0_5" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_0_6" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_0_7" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_in_buf_0_8" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_0" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_1" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_2" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_3" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_4" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_5" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_6" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_7" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_8" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_9" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_10" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_11" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_12" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_13" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_14" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_15" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_16" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_17" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_18" AREA_GROUP = "pblock_enc_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_enc_loop[0].enc/data_out_19" AREA_GROUP = "pblock_enc_draw";
AREA_GROUP "pblock_enc_draw" RANGE=SLICE_X0Y86:SLICE_X3Y88;
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/Mxor_Do_xo<0>_G" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/Mxor_Do_xo<0>_F" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/Mxor_Do_xo<0>" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/Mxor_ao_xo<0>_G" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/Mxor_ao_xo<0>_F" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/Mxor_ao_xo<0>" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_Do_xo<0>" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_Do_xo<0>_SW1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_Do_xo<0>_SW0" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_ao_xo<0>" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_ao_xo<0>_SW3" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_ao_xo<0>_SW2" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_ao_xo<0>_SW1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_ao_xo<0>_SW0" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/ko4" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/ko3" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/ko2" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/ko1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/ko4" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/ko3" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/ko2" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/ko1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/ci_ii_OR_152_o1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_Do_xo<0>321" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_co_xo<0>1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/p131" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/p311" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/fo1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/go1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/ho1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_eo_xo<0>1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_0/Mxor_bo_xo<0>1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/ci_ii_OR_152_o1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/Mxor_Do_xo<0>321" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/Mxor_co_xo<0>1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/p131" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/p311" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/fo1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/go1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/ho1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/Mxor_eo_xo<0>1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/decoder_1/Mxor_bo_xo<0>1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_1_0" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_1_1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_1_2" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_1_3" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_1_4" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_1_5" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_1_6" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_1_7" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_1_8" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_1_9" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_0_0" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_0_1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_0_2" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_0_3" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_0_4" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_0_5" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_0_6" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_0_7" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_0_8" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_in_buf_0_9" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_0" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_1" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_2" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_3" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_4" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_5" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_6" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_7" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_8" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_9" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_10" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_11" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_12" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_13" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_14" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/data_out_15" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/disp_out_0" AREA_GROUP = "pblock_dec_draw";
INST "Connect_XVCR_Module_loop[0].XCVR_Module_gen/generate_16B20B_dec_loop[0].dec/disp_out_1" AREA_GROUP = "pblock_dec_draw";
AREA_GROUP "pblock_dec_draw" RANGE=SLICE_X0Y83:SLICE_X3Y85;
#Created by Constraints Editor (xc6vhx380t-ff1923-2) - 2019/06/18
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/XCVR_Rx_clk_out_ch" TNM_NET = Connect_XVCR_Module_loop[0].XCVR_Module_gen/XCVR_Rx_clk_out_ch;
TIMESPEC TS_Connect_XVCR_Module_loop_0__XCVR_Module_gen_XCVR_Rx_clk_out_ch = PERIOD "Connect_XVCR_Module_loop[0].XCVR_Module_gen/XCVR_Rx_clk_out_ch" 7.8 ns HIGH 50%;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/XCVR_Tx_clk_out_ch" TNM_NET = Connect_XVCR_Module_loop[0].XCVR_Module_gen/XCVR_Tx_clk_out_ch;
TIMESPEC TS_Connect_XVCR_Module_loop_0__XCVR_Module_gen_XCVR_Tx_clk_out_ch = PERIOD "Connect_XVCR_Module_loop[0].XCVR_Module_gen/XCVR_Tx_clk_out_ch" 7.8 ns HIGH 50%;
#Created by Constraints Editor (xc6vhx380t-ff1923-2) - 2019/06/18
#Created by Constraints Editor (xc6vhx380t-ff1923-2) - 2019/06/18
#Created by Constraints Editor (xc6vhx380t-ff1923-2) - 2019/06/18
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><0>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><1>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><2>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><3>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><4>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><5>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><6>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><7>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><8>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><9>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><10>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><11>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><12>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><13>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><14>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><15>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><16>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><17>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><18>" MAXDELAY = 800 ps;
NET "Connect_XVCR_Module_loop[0].XCVR_Module_gen/from_xcvr_Rx_opensrc<0><19>" MAXDELAY = 800 ps;
